//* Imports
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Play:wght@400;700&family=Russo+One&display=swap');
//* Accent colours

//blues
$main_blue: #2682d9;
$softer_blue: #00a8e8;
$darker_blue: hsl(212, 70%, 17%);

//reds
$accent_red: hsl(346, 87%, 59%);
$soft_button: hsl(346, 73%, 53%);
$soft_button_hover: hsl(346, 73%, 45%);
$soft_button_hover_light: hsl(346, 80%, 56%);

//blacks
$bg_black: hsl(0, 0%, 20%);
$text_black: hsl(0, 0%, 10%);
$text_black_soft: hsl(0, 0%, 40%);

//whites
$bg_white: #f7fff7;
$light_white: hsl(0, 0%, 98%);
$text_white: hsl(0, 0%, 100%);
$soft_text_white: hsl(0, 0%, 90%);
$softer_text_white: hsl(0, 0%, 80%);

//bonus
$gray: hsl(0, 0%, 50%);
$softer_gray: hsl(0, 0%, 80%);
$human_skin: hsl(19, 48%, 89%);
$baby_blue: #eaf4fa;

//* Mixins
@mixin nomargpad() {
    margin: 0px;
    padding: 0px;
}

@mixin noanchor() {
    text-decoration: none;
    cursor: pointer;
}

@mixin paragraphtext() {
    font-weight: 300;
    font-size: 1.1rem;
}

@mixin smalltext() {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 12px;
    font-style: italic;
}

@mixin smallertext() {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 10px;
    font-style: italic;
}

//*bloat removal
// html,body {
//     @include nomargpad();
//     background-color: $bg_white;
//     font-family: 'Open Sans';
// }